body {
	font-family: "Open Sans", helvetica, arial, sans-serif;
	font-size: 14px;
	color:#333;
	line-height: 1.3;
	padding: 0;
	margin: 0;
}


h1,h2,h3,h4,h5,h6 {
	font-family: "Exo 2","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}

h1 {
	font-size: 20px;
}

@media (min-width: 568px){
	h1 {
		font-size: 28px;
	}
}

@media (min-width: 768px){
	h1 {
		font-size: 36px;
	}
}

@media (min-width: 992px){
	h1 {
		font-size: 44px;
	}
}

@media (min-width: 1280px){
	h1 {
		font-size: 44px;
	}
}



.hero {
	background: url(/images/hexagon-bg.jpg) center center / cover no-repeat;
	text-align: center;
}

.hero-content {
	box-sizing: border-box;   
    width: 100%;
    padding: 0 5%;
}

.hero__heading {
	text-transform: uppercase;
}

.dotted {
	margin: 20px auto;
    border: 0;
    height: 3px;
    background: url(data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 3'><circle fill='#fff' cx='1.5' cy='1.5' r='1.5'/></svg>) center repeat-x;
}

.dotted-quarter {
	width: 30%;
}


.app-header {
	background: #4F575C;
	margin: 0 0 2em 0;
	padding: 1.75em 1.5em;
}

.app-header__container {
	max-width: 800px;
	margin: 0 auto;
}

.app-header__logo {
	max-width: 226px;
}

.app-footer {
	background: #4F575C;
	color:#fff;
	margin-top: 1em;
	padding: 1em;
}	

.app-footer__container {
	max-width: 100%;
	margin: 0 auto;
}

.questions {
	margin: 2em 0;
}

.question-container {
	padding:2em;
	background: #F6F6F7;
	border:1px solid #C4A962;
	max-width: 800px;
	margin: 0 auto;
}

.question-info {
	padding:0 0.25rem;
	margin:2em 0;
}

.question-title {
	font-family: "Exo 2", sans-serif;
	padding:0.25rem 0.5rem;
	color:#4F575C;
	font-weight:normal;
	font-size: 2.5em;
	margin:0 0 1em 0;
}

.question-text {
	font-family: "Exo 2", sans-serif;
	font-size:1.3em;
	background-color:#C4A962;
	border:1px solid #C4A962;
	padding:0.5rem;
	box-shadow:0 5px 10px rgba(0,0,0,0.3);
	color:#fff;
}

.question-answers {
	margin:2em 1em;
	padding:0;
	list-style:none;
}

.question-answer {
	margin-bottom:1em;
}


.question-modal__cover {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5)
}

.question-modal__panel {
	position: absolute;
	width: 50%;
	top: 200px;
	left: 50%;
	transform: translate3D(-50%, 0, 0);
	padding: 2em;
	background: #fff;
	border: 2px solid #dedede;
}

.navigation {
	margin:2em 0;
	padding:0 0.25rem;
}


.button {
	background: #c4a962;
    font-weight: 400;
    display: inline-block;
    padding: 4.5px 22px;
    text-decoration: none;
    font: 21px "Exo", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 19px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: all 500ms;
    color: #fff;
    margin-top: 20px;
	transition: all 500ms;
}

.button:hover {
	border: 1px solid #c4a962;
    background: #fff;
    color: #c4a962;
}

.button-next {
	float:right;
}